#header {
  margin-bottom: 20px;
}

.close__page {
  width: 10px;
  margin: 10px;
}

.close__page p {
  color: black;
  font-size: x-large;
  font-weight: 700;
}

.close__page a {
  width: 10px;
}

.card__details {
  background-color: white;
  color: black;
  display: flex;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(68, 66, 66, 0.5);
  border: 2px solid black;
  padding-bottom: 5px;
}

.card__sprite {
  margin: 10px;
}

.card__sprite img {
  height: 435px;
  width: 435;
}

.card_right_side {
  max-width: 400px;
  margin-right: 20px;
}

.card_right_side_id {
  margin-top: 25px;
}

.card_right_side_id p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.card_right_side_name {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card_right_side_name p {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
}

.card_right_side_body {
  display: flex;
  margin-top: 15px;
}

.card_right_side_body p {
  background-color: #e9eaee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 20px;
}

.card_right_side_body span {
  font-weight: 700;
}

.stats {
  font-size: 2Opx;
  font-weight: 600;
}

.stats__badges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.stats__badges p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.stats__badge span {
  padding: 10px;
  border-radius: 5px;
  margin-left: 2px;
}

.stats__badge__hp {
  background-color: #df2140;
}

.stats__badge__attack {
  background-color: #ff994d;
}

.stats__badge__defense {
  background-color: #eecd3d;
}

.stats__badge__special-attack {
  background-color: #85ddff;
}

.stats__badge__special-defense {
  background-color: #96da83;
}

.stats__badge__speed {
  background-color: #fb94a8;
}

.card_right_side_abilities {
  margin-bottom: 20px;
}

.card_right_side_abilities p {
  font-size: 22px;
  font-weight: 700;
}

.ability {
  background-color: #e9eaee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 20px;
  font-weight: 600;
}

.loading {
  color: black;
}

@media (max-width: 768px) {
  .card__details {
    flex-direction: column;
    align-items: center;
  }

  .card__sprite img {
    height: 300px;
    width: 300px;
  }

  .card_right_side {
    max-width: 100%;
    margin-right: 0;
    text-align: left;
  }

  .card_right_side_body p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .stats__badges {
    grid-template-columns: repeat(2, 1fr);
  }
}
