.type__badge {
  font-size: 11px;
  font-weight: 600;
}

.type__badge span {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 50px;
  color: white;
}

.type__badge__bug {
  background-color: #87970d;
}

.type__badge__dark {
  background-color: #3d3127;
}

.type__badge__dragon {
  background-color: #503e9d;
}

.type__badge__electric {
  background-color: #e39412;
}

.type__badge__fairy {
  background-color: #e190dd;
}

.type__badge__electric {
  background-color: #5c251a;
}

.type__badge__fighting {
  background-color: #e39412;
}

.type__badge__fire {
  background-color: #cb2104;
}

.type__badge__flying {
  background-color: #5d75cf;
}

.type__badge__ghost {
  background-color: #444595;
}

.type__badge__grass {
  background-color: #499336;
}

.type__badge__ground {
  background-color: #b09040;
}

.type__badge__ice {
  background-color: #64c7e4;
}

.type__badge__normal {
  background-color: #b3b0a8;
}

.type__badge__poison {
  background-color: #8c4591;
}

.type__badge__psychic {
  background-color: #e53a71;
}

.type__badge__rock {
  background-color: #9e803f;
}

.type__badge__steel {
  background-color: #90909e;
}

.type__badge__water {
  background-color: #106cc8;
}
